<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>Income</title>
    <script type="module" src="../../service/CheckAuth.ts"></script>
    <script
      src="https://kit.fontawesome.com/e087eda0a5.js"
      crossorigin="anonymous"
    ></script>
  </head>
  <body>
    <nav id="nav-placeholder"></nav>
    <main class="container">
      <section class="row mt-3">
        <a type="button" class="btn btn-dark col-2" id="btn-add-income">
          <i class="fas fa-add"></i>
          Add Income
        </a>
      </section>
      <section
        class="container p-2 row rounded-3 mt-3 bg-white justify-content-around"
      >
        <small class="col-11">Filters</small>
        <button class="col btn btn-outline-dark px-3" id="btn-clear-filter">
          <i class="fa-solid fa-filter-circle-xmark"></i>
        </button>
        <div class="row">
          <small class="col">By Source</small>
          <small class="col">By Date</small>
          <small class="col">By Amount</small>
        </div>
        <div class="row">
          <div class="col d-flex">
            <input
              type="text"
              class="form-control rounded-0 rounded-start"
              id="filter-source"
            />
            <button
              type="button"
              class="btn btn-dark col rounded-0 rounded-end"
              id="btn-search"
            >
              <i class="fas fa-search"></i>
            </button>
          </div>
          <input type="date" class="form-control col" id="filter-date" />
          <section class="col ms-3">
            <input
              type="range"
              min="0"
              max="100000"
              class="form-range row"
              id="filter-amount"
            />
            <div class="row">
              <small class="col">Rs.0</small>
              <small id="filter-amount-display" class="col"> Amount</small>
              <small class="col">Rs.100000</small>
            </div>
          </section>
        </div>
      </section>

      <section class="container pt-2 row rounded-3">
        <h4 class="text-dark col-11">Income</h4>

        <section id="income-container"></section>
      </section>

      <!-- Add Expense Dialog Box -->
      <section>
        <div
          class="modal fade"
          id="add-income-dialog"
          tabindex="-1"
          role="dialog"
          aria-labelledby="customModalLabel"
          aria-hidden="true"
        >
          <div
            class="modal-dialog modal-lg modal-dialog-centered"
            role="document"
          >
            <div class="modal-content">
              <div class="modal-header">
                <h5 class="modal-title" id="customModalLabel">Income</h5>
              </div>
              <div class="modal-body gap-4 d-flex flex-column">
                <div class="form-group">
                  <label for="amount">Source</label>
                  <input
                    type="text"
                    class="form-control"
                    id="add-source"
                    placeholder="Enter Source"
                  />
                </div>
                <div class="form-group">
                  <label for="amount">Amount</label>
                  <input
                    type="number"
                    class="form-control"
                    id="add-amount"
                    placeholder="Enter amount"
                  />
                </div>
                <div class="form-group">
                  <label for="date">Date</label>
                  <input type="date" class="form-control" id="add-date" />
                </div>
              </div>
              <div class="modal-footer">
                <button type="button" id="btn-save-income" class="btn btn-dark">
                  Save Income
                </button>

                <button
                  type="button"
                  class="btn btn-secondary"
                  id="btn-close-income-dialog"
                >
                  Close
                </button>
              </div>
            </div>
          </div>
        </div>
      </section>
      <section id="toast-message"></section>
      <section
        id="pagination-placeholder"
        class="flex-grow d-flex justify-content-center align-items-center"
      ></section>
    </main>
    <script type="module" src="./script.ts"></script>
  </body>
</html>
