<nav class="navbar navbar-expand-lg bg-primary navbar-dark p-lg-3">
  <div class="container">
    <!-- <a class="navbar-brand mx-auto" href="#" style="max-width: 100px"
      ><img
        src="../../assets/images/logos/logo-black.svg"
        alt="Logo"
        class="w-100 h-100"
    /></a> -->
    <button
      class="navbar-toggler"
      type="button"
      data-toggle="collapse"
      data-target="#navbarNav"
      aria-controls="navbarNav"
      aria-expanded="false"
      aria-label="Toggle navigation"
    >
      <span class="navbar-toggler-icon"></span>
    </button>
    <div class="collapse navbar-collapse" id="navbarNav">
      <ul class="navbar-nav">
        <li class="nav-item active">
          <a class="nav-link" id="nav-dashboard" href="#"
            ><i class="fa-solid fa-chart-simple"></i> Dashboard</a
          >
        </li>
        <li class="nav-item">
          <a class="nav-link" id="nav-expenses" href="#"><i class="fa-solid fa-money-bill"></i> Expenses</a>
        </li>
        <li class="nav-item">
          <a class="nav-link" id="nav-profile" href="#"><i class="fa-solid fa-user"></i> Profile</a>
        </li>
        <li class="nav-item">
          <a class="nav-link" id="nav-budgets" href="#"><i class="fa-solid fa-dollar"></i>Budgets</a>
        </li>
      </ul>
    </div>
  </div>
</nav>
