<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>Expenses</title>
    <script type="module" src="../../service/CheckAuth.ts"></script>
    <script
      src="https://kit.fontawesome.com/e087eda0a5.js"
      crossorigin="anonymous"
    ></script>
  </head>
  <body>
    <nav id="nav-placeholder"></nav>
    <main class="container position-relative">
      <section class="row m-lg-0 m-md-0 ms-sm-0 m-3 mt-lg-3 mt-md-3 mt-sm-3">
        <button
          type="button"
          class="btn btn-dark col-lg-2 col-md-4 col-6"
          id="btn-add-expense"
        >
          <i class="fas fa-add"></i>
          Add New Expense
        </button>
        <div class="input-group col-lg-6 bg-white rounded-4 mt-3">
          <div
            class="form-outline m-0 row p-0 pb-2 pt-2 ps-2"
            data-mdb-input-init
          >
            <p class="col-lg-11 m-0 mb-1">Filters</p>
            <p class="col-lg-1 m-0 mb-1" id="btn-clear-filter" role="button">
              <i class="fa-solid fa-filter-circle-xmark"></i>
            </p>
            <section class="row">
              <section class="col-lg dropdown mt-lg-0 mt-2">
                <label for="#filter-category-dropdown" class="text-muted fs-6"
                  >By Category</label
                >
                <button
                  type="button"
                  class="btn btn-dark dropdown-toggle"
                  id="filter-category-dropdown"
                  data-bs-toggle="dropdown"
                  aria-expanded="false"
                >
                  Select Category
                </button>
                <ul class="dropdown-menu" id="filter-category-menu"></ul>
              </section>
              <section class="col-lg-4 mt-lg-0 mt-2">
                <label for="#filter-search" class="text-muted fs-6">By Remarks</label>
                <div class="d-flex">
                  <input
                    type="search"
                    id="filter-search"
                    class="form-control rounded-end-0"
                    placeholder="Search"
                  />
                  <button
                    type="button"
                    class="btn btn-dark rounded-start-0"
                    id="btn-search"
                    data-mdb-ripple-init
                  >
                    <i class="fas fa-search"></i>
                  </button>
                </div>
              </section>
              <section class="col-lg-3 mt-lg-0 mt-2">
                <label for="#filter-date" class="text-muted fs-6">By Date</label>
                <input type="date" class="form-control" id="filter-date" />
              </section>
              <section class="col-lg mt-lg-0 mt-2">
                <label for="#filter-amount" class="text-muted fs-6">By Amount</label>
                <input
                  type="range"
                  min="0"
                  max="100000"
                  class="form-range row ms-3 me-3"
                  id="filter-amount"
                />
                <div class="row ms-3 me-3">
                  <small class="col-3 p-0">Rs.0</small>
                  <small id="filter-amount-display" class=" p-0 col-6">
                    Amount</small
                  >
                  <small class="col-3">Rs.100000</small>
                </div>
              </section>
            </section>
          </div>
        </div>
      </section>
      <section class="pt-3 row">
        <section class="row align-items-center d-none d-lg-flex pe-0 ps-3 ">
          <p class="col-1"><i class="fas fa-rupee-sign"></i> Amount</p>
          <p class="col-6"><i class="fa-solid fa-tag"></i> Remarks</p>
          <p class="col"><i class="fas fa-list"></i> Category</p>
          <p class="col"><i class="fa-solid fa-calendar-days"></i> Date</p>
          <p class="col"><i class="fa-solid fa-gears"></i> Actions</p>
        </section>
        <section id="expense-container"></section>
      </section>

      <!-- Add Expense Dialog Box -->
      <section>
        <div
          class="modal fade"
          id="add-expense-dialog"
          tabindex="-1"
          role="dialog"
          aria-labelledby="customModalLabel"
          aria-hidden="true"
        >
          <div
            class="modal-dialog modal-lg modal-dialog-centered"
            role="document"
          >
            <div class="modal-content">
              <div class="modal-header">
                <h5 class="modal-title" id="customModalLabel">Expense</h5>
              </div>
              <div class="modal-body gap-4 d-flex flex-column">
                <div class="form-group">
                  <label for="amount">Amount</label>
                  <input
                    type="number"
                    class="form-control"
                    id="add-amount"
                    placeholder="Enter amount"
                  />
                </div>
                <div class="form-group">
                  <label for="remarks">Remarks</label>
                  <textarea
                    class="form-control"
                    id="add-remarks"
                    placeholder="Enter remarks"
                  ></textarea>
                </div>
                <div class="form-group">
                  <label for="category">Category</label>
                  <select class="form-select" id="add-category"></select>
                </div>
                <div class="form-group">
                  <label for="date">Date</label>
                  <input type="date" class="form-control" id="add-date" />
                </div>
                <div class="form-group">
                  <label for="file">Attach Receipt</label>
                  <input
                    type="file"
                    class="form-control-file"
                    id="add-receipt"
                  />
                </div>
              </div>
              <div class="modal-footer">
                <button
                  type="button"
                  id="btn-save-expense"
                  class="btn btn-dark"
                >
                  Save Expense
                </button>

                <button
                  type="button"
                  class="btn btn-secondary"
                  id="btn-close-expense-dialog"
                >
                  Close
                </button>
              </div>
            </div>
          </div>
        </div>
      </section>
      <section
        id="pagination-placeholder"
        class="flex-grow d-flex justify-content-center align-items-center"
      ></section>
      <!-- End Add Expense Dialog Box -->
      <div id="toast-message"></div>
    </main>
    <script type="module" src="./script.ts"></script>
  </body>
</html>
