.btn {
  font-weight: 600;
  border-radius: 8px;
  border: none;
  cursor: pointer;
  //   default button is medium sized
  padding: 16px 24px;
  //   small sized button
  &.small {
    padding: 12px 24px;
    line-height: 20px;
  }
  &.transparent
  {
    background: transparent;
    border : 1px solid $white;
  }
  &.reverse
  {
    color: $white;
  }
  &.large
  {
    @media  screen and (max-width:$mobile-size){
      padding: 16px 24px;
    }
    @media screen and (max-width:$tablet-size){
      padding: 16px 24px;
      
    }
    padding: 24px 32px;
  }
  &.nav
  {
    background: transparent;
    border: 1px solid $fade-color;
  }
  &.white
  {
    background-color: $white;
  }
  &.subs
  {
    @media screen and (max-width:$tablet-size) {
      padding: 16px 24px;
    }
    @media screen and (max-width:$mobile-size){
      background-color: $primary-color;
      color: $white;
      padding-right: 62px;
    }

  }
}
