.guidelines
{
    padding-top: 32px;
    display: flex;
    gap: 500px;
    margin-bottom: 100px;

    @media screen and (max-width:$tablet-size) {
        gap: 100px;
        
    }
    &__title
    {
        font-size: $heading-font-size;
        font-weight: $heading-font-weight;
        color: $white;
        @media screen and (max-width:$mobile-size) {
            display:flex;
            justify-content: center;
            align-items: center;
            font-size: $card-title-font-size;
            
        }
    }
    &__content
    {
        display: flex;
        justify-content: space-between;
        gap: 32px;
        color: $fade-color;
        @media screen and (max-width:$mobile-size) {
            display:none;
            
        }
        
    }
}