.app_ad
{
   display: flex;
   position: relative;   
   @media screen and (max-width:$mobile-size) {
    display: block;
    
  }
}
.lady
{
  margin-right: 0px;
  @media screen and (max-width:$tablet-size) {
    margin-right: 100px;
  }
  @media screen and (max-width:$mobile-size) {
    margin-right: 0px;
  }
}

.appcard {
  background: white;
  width: 584px;
  position: absolute;
  padding: 52px;
  border: 1px solid $white-border-color;
  border-radius: 8px;
  top: 60px;
  right: -200px;

  @media screen and (max-width:$tablet-size) {
    top: 100px;
    width: 456px;
    padding: 16px;
    right: -30px;
  }
  @media screen and (max-width:$mobile-size) {
    width: auto;
    position: relative;
    top: 0px;
    right: 0px;
    padding: 10px;
    border: none;
  }

  &__title{
    font-size: $heading-font-size;
    color: $black;
    font-weight: $heading-font-weight;
    padding-bottom: 20px;
    
    @media screen and (max-width:$tablet-size) {
      //max-width: 205px;
      font-size: 32px;
    }
    @media screen and (max-width:$mobile-size) {
      max-width: 205px;
      font-size: $card-title-font-size;
    }
  }

  &__desc{
   padding-bottom: 40px;
    font-size: $base-font-size;
    color: rgba(29, 28, 49, 0.60);
    @media screen and (max-width:$mobile-size) {
      //max-width: 205px;
      font-size: $small-font-size;
      padding-bottom: 20px;
    }
    @media screen and (max-width:$tablet-size) {
      max-width: 451px;
      font-size: $small-font-size;
      padding-bottom: 20px;
    }

  }
  &__buttons
  {
    display: flex;
    gap: 20px;
    max-width: 315px;
  }
}