* {
  box-sizing: border-box;
}
main {
  display: flex;
  flex-direction: column;
  align-items: center;
}

.image {
  width: 900px;
  height: 600px;
  border: 2px solid #bcb8b8;
  position: relative;
  border-radius: 30px;
  overflow: hidden;
}

.carousel-container {
  width: 900px;
  height: 600px;
  overflow: hidden;
  position: relative;
}

#carousel-image-wrapper {
  display: flex;
  position: absolute;
  /* width: 1500px; */
  height: 600px;
}
.btn-scroll {
  position: absolute;
  top: 45%;
  z-index: 1;
  /* background: transparent; */
  border: none;
  color: white;
  padding: 10px;
  font-size: 50px;
  cursor: pointer;
  background: rgba(0,0,0,0.1);
}
.btn-scroll:hover{
  background: rgba(0,0,0,0.3);
}
#right-scroll {
  right: 0px;
}

#btn-div {
  display: flex;
  justify-content: center;
  padding: 20px 30px;
  max-width: 900px;
  gap: 10px;
}

.index-btn {
  padding: 10px;
  border: 1px solid #777777;
  background: #777777;
  border-radius: 50%;
  cursor: pointer;
}
.index-btn:hover {
  background: #000;
}

.index-btn .selected {
  background: #000;
}
