<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>Dashboard</title>
    <script type="module" src="../../service/CheckAuth.ts"></script>
    <script
      src="https://kit.fontawesome.com/e087eda0a5.js"
      crossorigin="anonymous"
    ></script>
  </head>
  <body>
    <nav id="navbar-placeholder"></nav>
    <section class="container">
      <!-- Header Section -->
      <section class="pt-4">
        <h4 class="heading-section text-dark">
          Welcome <span id="display-username"></span>
        </h4>
      </section>
      <!-- Overview Section -->
      <section class="container d-flex gap-4 card-group mt-3">
        <div class="card bg-danger rounded shadow">
          <div class="card-body">
            <div class="text-white">
              <i class="fa fa-money" aria-hidden="true"></i> Expenses
            </div>
            <h4 class="card-text text-white" id="summary-expense"></h4>
          </div>
        </div>
        <div class="card bg-success rounded shadow">
          <div class="card-body">
            <div class="text-white">
              <i class="fa fa-money-check"></i> Income
            </div>
            <h4 class="card-text text-white" id="summary-income"></h4>
          </div>
        </div>
        <div class="card bg-primary rounded shadow">
          <div class="card-body">
            <div class="text-white">
              <i class="fa-solid fa-piggy-bank"></i> Savings
            </div>
            <h4 class="card-text text-white" id="summary-budget"></h4>
          </div>
        </div>
      </section>
      <!-- Chart Section -->
      <div id="charts" class="row mt-3 border bg-white shadow-lg rounded p-3">
        <p class="col-12">Summary</p>
        <small>This month</small>
        <div class="col" style="position: relative; height: 55vh; width: 80vw">
          <canvas id="expense-chart"><p>Sorry no data to display</p></canvas>
        </div>
        <div
          class="col-10"
          style="position: relative; height: 55vh; width: 20vw"
        >
          <canvas id="category-chart"><p>Sorry no data to display</p></canvas>
        </div>
      </div>
      <!-- Expense List Section -->
    </section>
    <script type="module" src="./script.ts"></script>
  </body>
</html>
