.feedback {
  &__top {
    display: flex;
    flex-direction: column;
    gap: 20px;
    align-items: center;
    padding-top: 50px;
  }
  &__title1 {
    color: $color-primary;
    font-size: $font-size-primary;
    font-weight:$font-medium;
    
    @media (max-width: $tablet-view) {
      font-size: $font-size-medium;
    }
    @media (max-width: $mobile-view) {
      font-size: $font-mobile-small;
    }
  }
  &__title2 {
    color: $color-black;
    font-size: $font-size-heading;
    font-weight: $font-heavy;
    @media (max-width: $tablet-view) {
      font-size: $font-size-medium;
    }
    @media (max-width: $mobile-view) {
      font-size: $font-size-primary;
    }
  }
  &__desc {
    color: rgba(0, 0, 0, 0.5);
    max-width: 900px;
    text-align: center;

    @media (max-width: $tablet-view) {
      font-size: $font-size-small;
    }
    @media (max-width: $mobile-view) {
      font-size: 12px;
    }
  }
  &__bottom {
    display: flex;
    justify-content: space-between;
    margin-top: -120px;
    @media (max-width: $tablet-view) {
      flex-direction: column;
      align-items: center;
      margin-top: 0px;
    }
  }

  &__bg {
    background-image: url(../../../assets/img/vacc-bottle.svg);
    background-repeat: no-repeat;
    background-size: contain;
    background-position: center;
    max-width: 400px;
    padding: 200px 0px;
    @media (max-width: $tablet-view) {
      padding: 0px;
    }
    @media (max-width: $mobile-view) {
      padding: 0;
    }
  }
  &__card {
    margin-top: 50px;
    display: flex;
    flex-direction: column;
    background: transparent;
    backdrop-filter: blur(15px);
    border-radius: 20px;
    border: 1px solid $color-fade-background;
    gap: 20px;
    padding: 30px;
    background-color: $color-fade-background;
    color: rgba(0, 0, 0, 0.5);
    &--active {
      @extend .feedback__card;
      background-color: $color-primary;
      color: $color-white;
    }
    &--profile {
      display: flex;
      flex-wrap: wrap;
    }
    &--text {
      padding-left: 10px;
      padding-top: 5px;
    }
    &--name {
      color: $color-black;
      font-size: $font-size-primary;
      @media (max-width: $tablet-view) {
        font-size: $font-size-medium;
      }
      @media (max-width: $mobile-view) {
        font-size: $font-mobile-small;
      }
      &-active {
        font-size: $font-size-primary;
        color: $color-white;
        @media (max-width: $tablet-view) {
          font-size: $font-size-medium;
        }
        @media (max-width: $mobile-view) {
          font-size: $font-mobile-small;
        }
      }
    }
    &--address {
      color: rgba(0, 0, 0, 0.5);
      font-size: $font-mobile-small;
      @media (max-width: $tablet-view) {
        font-size: $font-mobile-small;
      }
      @media (max-width: $mobile-view) {
        font-size: 10px;
      }
      &-active {
        font-size: $font-mobile-small;
        color: $color-white;
        @media (max-width: $tablet-view) {
          font-size: $font-mobile-small;
        }
        @media (max-width: $mobile-view) {
          font-size: $font-mobile-small;
        }
      }
    }
    &--comment {
      text-align: center;
      max-width: 300px;
      @media (max-width: $tablet-view) {
        font-size: $font-size-small;
      }
      @media (max-width: $mobile-view) {
        font-size: $font-mobile-small;
      }
    }
  }
}
