.reasons {
  padding: 50px 0;
  &__top {
    display: flex;
    justify-content: space-between;
    gap: 255px;
    align-items: center;

    @media (max-width: $tablet-view) {
      flex-direction: column;
      gap: 20px;
      align-items: start;
    }

    @media (max-width: $mobile-view) {
      font-size: $font-mobile-small;
    }
    &--title {
      max-width: 500px;
      font-size: $font-size-heading;
      font-weight: $font-medium;
      @media (max-width: $tablet-view) {
        font-size: $font-tab-heading;
      }
      @media (max-width: $mobile-view) {
        font-size: $font-size-primary;
        padding: 0px 20px;
      }
    }
    &--desc {
      color: $color-fade-white;
      max-width: 500px;
      font-weight: 400;
      @media (max-width: $mobile-view) {
        padding: 0px 20px;
      }
    }
  }
  &__bottom {
    margin-top: 35px;
    display: flex;
    justify-content: space-evenly;
    align-items: end;
    gap: 80px;
    @media (max-width: $tablet-view) {
      flex-wrap: wrap;
    }
    @media (max-width: $mobile-view) {
      justify-content: flex-start;
    }
  }
  &__card {
    background: $color-fade-background;
    border-radius: 50px;
    border-top-right-radius: 150px;
    padding: 39px;
    @media (max-width: $tablet-view) {
      flex-basis: 100%;
      //margin-left: 50px;
      margin-right: 250px;
    }
    @media (max-width: $mobile-view) {
      font-size: 12px;
      margin-right: 100px;
    }
  }
  &__img {
    max-width: 100px;

    @media (max-width: $tablet-view) {
      max-width: 70px;
    }
    @media (max-width: $mobile-view) {
      max-width: 50px;
    }
  }
  &__title {
    max-width: 300px;
    padding-top: 20px;
    font-size: $font-size-primary;
    color: $color-primary;
    @media (max-width: $mobile-view) {
      font-size: $font-mobile-small;
    }
  }
  &__desc {
    padding: 20px 0px;
    max-width: 350px;

    @media (max-width: $tablet-view) {
      font-size: $font-size-small;
    }
    @media (max-width: $mobile-view) {
      font-size: 12px;
    }
  }
  &__readmore {
    display: flex;
    align-items: center;
    margin-top: 100px;
    color: $color-fade-white;

    @media (max-width: $tablet-view) {
      margin-top: 50px;
      font-size: $font-size-small;
    }
    &--active {
      display: flex;
      align-items: center;
      color: $color-primary;
      padding-top: 50px;
      @media (max-width: $tablet-view) {
        font-size: $font-size-small;
        margin-top: 50px;
      }
    }
  }
  &__card2 {
    border: 1px solid $color-fade-white;
    border-radius: 50px;
    padding: 32px;
    height: 350px;
    width: 350px;

    @media (max-width: $tablet-view) {
      width: auto;
      height: 300px;
    }
    @media (max-width: $mobile-view) {
      font-size: 12px;
      height: 200px;
      width: 200px;
    }

    &--img {
      @include iconBg;
      margin-bottom: 20px;
      @media (max-width: $mobile-view) {
        max-width: 50px;
      }
    }
    &--text {
      font-size: $font-size-primary;
      font-weight: $font-medium;
      width: auto;
      @media (max-width: $tablet-view) {
        max-width: 200px;
      }
      @media (max-width: $mobile-view) {
        font-size: $font-mobile-small;
      }
    }
  }
}
