//Color Variables
$color-primary: #17c2ec;
$color-white: #fff;
$color-fade-white: rgba(255, 255, 255, 0.5);
$color-fade-background: rgba(196, 196, 196, 0.05);
$color-grey: rgba(255, 255, 255, 0.5);
$color-black: #000;
$color-secondary: #0b153c;

//Fonts
$font-size-primary: 24px;
$font-size-heading: 48px;
$font-size-medium: 20px;
$font-size-small: 18px;
$font-mobile-small: 14px;
$font-mobile-exs: 8px;
$font-tab-heading: 36px;
//$heading-size : clamp(48px,36px,24px);
$font-heavy: 800;
$font-light:500;
$font-medium:700;


//Views
$tablet-view : 992px;
$mobile-view : 575px;
