body {
  background-color: #343D33;
  width: 100%;
  height: 100%;
  font-family: 'Roboto';
}
/* Css for main container block. Provides gap to left and right */
.container {
  padding-left: 179px;
  padding-top: 96px;
  max-width: 1040px;
}
/* Sets display to be a flexible box */
/* flow helps to define the arrangement(row col) and wrap the elements to help them drop down */
/* flex-start aligns elements to the right */
.top-content {
  display: flex;
  flex-flow: row wrap;
  justify-content: flex-start;
  gap: 96px;
}

/* Providing Basic Properties to the elements */
.top-content .img-content{
  /* width: 543px;
  height: 354px; */
}
.top-content .content
{
flex-basis: 20%;
  color: white;
}
.content h1{
  font-family: 'Libre Baskerville';
  font-size: 35px;
  flex-basis: 20%;
}
.content p{
  height: 120px;
  width: 401px;
  font-size: 20px;
}
.bottom-content {
  width : 100%;
  margin-right: 0px;
}
.top-content .content .btn-learn
{
  font-size: 14px;
  padding: 20px 40px;
  border: 2px solid white;
  background: transparent;
  color: white;
  cursor: pointer; /* Shows hand symbol when hovering the element */
}

/* Change the properties when the screen size changes*/
/* For tablets */
@media only screen and (max-width: 992px) {
  .container {
    display: flex;
    flex-direction: column;
    padding-left: 106px;
    padding-right: 105px;
    padding-top: 96px;

  }
  .top-content{
    gap: 40px;
  }
  /* Order helps to define the order in which the elements are placed top to bottom */
  .top-content .img-content {
    flex-basis: 100%;
    margin-right: 0px;
    order: 1;
  }
  .top-content .img-content img {
    width: 100%;
  }

  .top-content .content {
    order: 3;
    margin-right: 0px;
  }
  .bottom-content {
    margin: 0px;
    order: 2;
    height: auto;
    width: auto;
  }
}

/* For Mobile Phones */
@media only screen and (max-width: 575px) {
  .container {
    display: flex;
    flex-direction: column;
    padding-left: 16px;
    padding-right: 25px;
    padding-top: 35px;
  }

  .top-content
  {
    gap: 10px;
  }
  .top-content .img-content {
    height: auto;
    width: auto;
    order: 1;
    margin-right: 0px;
  }
  .top-content .img-content img {
    width: 100%;
  }

  .top-content .content {
    order: 3;
    flex-basis: 100%;
  }

  .bottom-content {
    order: 2;
    height: auto;
    width: auto;
    margin: 0px;
  }
  .content h1{
    font-size: 34px;
    height: auto;
    width: auto;
  }
  .content p{
    height: auto;
    width: auto;
    font-size: 16px;
  }
}

