body {
  background-color: #343D33;
  width: 100%;
  height: 100%;
}

.container {
  display: flex;
  flex-direction: column;
  padding: 179px;
  padding-top: 96px;
}
.top-content {
  display: flex;
  flex-direction: column;
  justify-content: center;
  gap: 10px;
}

.top-content .img-content{
  width: 543px;
  height: 354px;
position: relative;
}
.top-content .content
{
  position: relative;

  color: white;
}
.content h1{
  font-size: 45px;
  height: 100px;
  width: 417px;
}
.content p{
  height: 120px;
  width: 401px;
  font-size: 20px;
}
.bottom-content {
  width: 1040px;
  height: 409px;
  margin-top: 10px;
}
.top-content .content .btn-learn
{
  font-size: 14px;
  padding: 20px 40px;
  border: 2px solid white;
  background: transparent;
  color: white;
  cursor: pointer;
}

@media only screen and (max-width: 992px) {
  .container {
    display: flex;
    flex-direction: column;
    padding-left: 106px;
    padding-right: 105px;
    padding-top: 96px;
  }
  .top-content .img-content {
    height: auto;
    width: auto;
    order: 1;
  }
  .top-content .img-content img {
    width: 100%;
  }

  .top-content .content {
    order: 3;
  }
  .bottom-content {
    order: 2;
    height: auto;
    width: auto;
  }
}
@media only screen and (max-width: 575px) {
  .container {
    display: flex;
    flex-direction: column;
    padding-left: 16px;
    padding-right: 25px;
    padding-top: 35px;
  }
  .top-content .img-content {
    height: auto;
    width: auto;
    order: 1;
  }
  .top-content .img-content img {
    width: 100%;
  }

  .top-content .content {
    order: 3;
  }

  .bottom-content {
    order: 2;
    height: auto;
    width: auto;
  }
  .content h1{
    font-size: 34px;
    height: auto;
    width: auto;
  }
  .content p{
    height: auto;
    width: auto;
    font-size: 16px;
  }
}

